<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>The Lists:</h1>
    <p>easy app to enable you to manage your movie addiction</p>
    <%= link_to "Create new list", new_list_path, class: "btn btn-flat"  %>
  </div>
</div>

<br><br><br>

<div class="cards d-flex justify-content-center">
  <% @lists.each do |list| %>
    <div class="card-category mx-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
