<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>The Lists:</h1>
    <p>easy app to enable you to manage your movie addiction</p>
    <%= link_to "Create new list", new_list_path, class: "btn btn-flat"  %>
  </div>
</div>

<br><br><br>

<div class="cards d-flex justify-content-center">
  <% @lists.each do |list| %>
    <div class="card-category mx-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('list_background.png') %>)">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
